.box {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
}
.ball {
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 20px;
    left: 20px;
    animation-name: moove;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes moove {
    0%{
        top: 20px;
        left: 20px;
    }
    30%{
        top: 200px;
        left: 400px;
    }
    100% {
        top: 500px;
        left: 1400px;
    }
    
}